main {
  margin-left: 200px;
  padding: 20px;
}

/* Yobr Primary Background Color. */
.yobr-primary-bg-color {
  background-color: #200b41;
}

/* Yobr Secondary Background Color */
.yobr-secondary-bg-color {
  background-color: #dfdbe5;
}

/* Yobr Button Primary Background Color */
.yobr-button-primary-bg-color {
  background-color: #e7d8fd;
}

/* Yobr Button Secondary Background Color */
.yobr-button-secondary-bg-color {
  background-color: #e0daea;
}

.yobr-hover-color {
  padding: 10px 15px; /* Gir luft rundt teksten */
  margin: 5px 10px; /* Sørger for at hover-effekten ikke går helt til kanten */
  border-radius: 10px; /* Avrundede kanter */
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out; /* Smooth overgang */
}
/* Yobr Hover Color */
.yobr-hover-color:hover {
  background-color: #58486f;
  color: #fdfdfd;
}

.yobr-hover-color.active {
  background-color: #58486f;
  color: #fdfdfd;
}

/* Yobr Primary Text Color */
.yobr-primary-text-color {
  color: #1a0b1e;
}

/* Yobr Secondary Text Color */
.yobr-secondary-text-color {
  color: #756d78;
}

/* Yobr White Text Color */
.yobr-white-text-color {
  color: #fdfdfd;
}

/* Yobr Domine Font */
.yobr-domine-font {
  font-family: "Domine", serif;
}

/* Yobr Work Sans Font */
.yobr-work-sans-font {
  font-family: "Work Sans", sans-serif;
}

.sidebar {
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: fixed;
  top: 0;
  left: 0;
}
