/* YOBR COLORS */

/* Tab Bar Colors */
.tab-color {
  background-color: #e0e0e0;
}

/* Tab bar hover and active color */
.tab-color:hover {
  background-color: #dfdbe5;
  color: #1a0b1e;
}
.tab-color:active {
  background-color: #dfdbe5;
  color: #1a0b1e;
}

/* Yobr Primary Background Color. */
.yobr-primary-bg-color {
  background-color: #200b41;
}

/* Yobr Secondary Background Color */
.yobr-secondary-bg-color {
  background-color: #dfdbe5;
}

/* Yobr Button Primary Background Color */
.yobr-button-primary-bg-color {
  background-color: #e7d8fd;
}

/* Yobr Button Secondary Background Color */
.yobr-button-secondary-bg-color {
  background-color: #e0daea;
}

/* Hover and Active Effects */
.yobr-hover-color {
  padding: 10px 15px;
  margin: 5px 10px;
  border-radius: 10px;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.yobr-hover-color:hover {
  background-color: #58486f;
  color: #fdfdfd;
}

.yobr-hover-color.active {
  background-color: #58486f;
  color: #fdfdfd;
}

/* Yobr Primary Text Color */
.yobr-primary-text-color {
  color: #1a0b1e;
}

/* Yobr Secondary Text Color */
.yobr-secondary-text-color {
  color: #756d78;
}

/* Yobr White Text Color */
.yobr-white-text-color {
  color: #fdfdfd;
}

/* YOBR FONTS */

/* Yobr Domine Font */
.yobr-domine-font {
  font-family: "Domine", serif;
}

/* Yobr Work Sans Font */
.yobr-work-sans-font {
  font-family: "Work Sans", sans-serif;
}
